body{
    background-color: #fff;
}
.product__details-page{
    //background-color: red;
    margin-top: 20px;
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    
    .products__details{
        width: 30%;
        //background-color: yellow;
        
        display: flex;
        flex-direction: column;
        .product__principalte-details{
            //background-color: pink;
            border-radius: 10px;
            overflow: hidden;
        }
        .products__secondaires-details{
           
            //background-color: orange;
        }
    }
    .details___product-details{
        width: 50%;
        
        //background-color: blue;
    }
    @media screen and (max-width:1300px){
        .products__details,
        .details___product-details{
            width: 49%;
        } 
    }
    @media screen and (max-width:1090px){
        gap: 0.5%;
        
        flex-direction: column;
        .products__details,
        .details___product-details{
            width: 100%;
            
        }
    }
}