.navbar__home{
    //background-color: yellow;
    padding:5px 25px;
    display: flex;
    flex-direction: column;
    .top-navbar{
        display: flex;
        div{
            &:nth-child(1){
                flex:2;
                //background-color: red;
                padding:2px;
                display: flex;
                align-items: center;
                .logo-mugiwara{
                    width: 70px;
                    height: 40px;
                    img{
                        width:70px;height: 100%;
                        @media screen and (max-width:800px){width: 50px;}
                    }
                }
                @media screen and (max-width:1024px){
                    flex:2;
                    .name-logo{font-size: 14px;}
                }
                @media screen and (max-width:800px){
                    flex:9
                    
                }
            }
            &:nth-child(2){
                flex:6;
                padding:2px;
                display: flex;
                //background-color: greenyellow;
                align-items: center;
                @media screen and (max-width:1024px){
                    flex:4;
                }
                @media screen and (max-width:800px){
                    display: none;
                }
            }
            &:nth-child(3){
                flex:4;
                display: flex;
                padding: 2px;
                //background-color: blue;
                .icon-wishlist{
                    flex:2;
                    //background-color: red;
                    display: flex;align-items: center;
                    justify-content: center;
                    i{
                        background-color: rgb(245, 249, 253);
                        font-size: 20px;
                    }
                    @media screen and (max-width:800px){
                        justify-content:flex-end;
                        flex:2
                    }

                }
                .account{
                    flex:5;
                    //background-color: yellow;
                    display: flex;
                    justify-content: flex-start;
                    display: flex;cursor: pointer;
                    .icon-header{
                        display: flex;align-items: center;
                        background-color: red;
                        //justify-content: flex-end;
                        font-size: 24px;
                        padding:0;
                        flex:2;
                        @media screen and (max-width:800px){
                            flex:10
                        }
                        
                    }
                    .sign-in{
                        flex:10;
                        //background-color: greenyellow;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        span{font-size: 12px;}
                        padding:0;
                        @media screen and (max-width:800px){
                            display: none;
                        }
                    }
                    @media screen and (max-width:800px){
                        flex:2
                    }
                }
                .cart-shopping{
                    flex:5;background-color: green;
                    display: flex;align-items: center;
                    @media screen and (max-width:800px){
                        
                        flex:4
                    }
                    @media screen and (max-width:800px){
                        flex:2
                    }
                }
                @media screen and (max-width:1024px){
                    flex:6;
                }
                @media screen and (max-width:800px){
                    flex:3;
                }
            }
        }
    }
} 